{% extends "base.html" %}

{% block content %}
{#    <h1>Hi, {{ user.username }}!</h1>#}
{#    <button type="button" class="btn btn-primary">Primary</button>#}


    <div class="container center">
    <div class="inner">
<div class="container text-center mid_w white_background" >
        <h2>Step 4</h2>
        <p> Remember this word: {{ word }} from earlier? Yes? <strong>Great!</strong>
            <br>
            Click on the colors in the palette to change the color of your word!
            <br>
                Try to find the color that must closely matches that word.
            <br> When you're ready, click the <strong>next</strong> button.
        </p>

</div>


    <div class="row border_black white_background mid_w">




{#            <img id="pls" src="{{ url_for('static', filename='images/pic2.jpg') }}" style="display: none;" alt="start"/>#}
{#            <img id="pls" src="{{ filename }}" style="display: none;" alt="start"/>#}

            <div class="col-lg text-center center">
                    <h1 id="wordSelector" class="special_word">{{ word }}</h1>

            <button id="fogToggle" class="btn btn-outline-dark">Change Background Color</button>


                <div class="row hex-container mt-5">
                    {% for c in colors %}
                        <div id={{ loop.index }}Box class="box" style="background-color: {{ c }};">
                        <p>{{ c }}</p>
                        </div>

                    {% endfor %}

                </div>

                 <button class="btn btn-primary mt-5" style="float:right" id="wordColorNext">Next</button>


                </div>

    </div>


            </div>
    </div>



{% endblock %}