{% extends "base.html" %}

{% block content %}

    <div class="container center">

    <div class="row">
                <form action="/wordPick" method="post">
                        <form action="/wordPick" method="post">
                     <div class="form-group">
                        <label for="word">Enter a Word</label>
                        <input type="text" name="word" class="form-control" id="word" aria-describedby="wordInput" placeholder="Enter word">
                        <small id="emailHelp" class="form-text text-muted">Enter a feeling you experienced while at Fog X FLO</small>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </form>

    </div>


            </div>
            <div style="clear:both;"></div>
        </div>


{% endblock %}